*{
font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}


#nav{
	opacity: 50%;
}


#nav #logo{
	margin-left: 10px;
	height: 80px;
	width: auto;
}



.bg-brown{
	background-color: #9A846B;
}


#skills {
	background:
	linear-gradient(

		rgba(77, 31, 0, 0.75),
		rgba(0, 0, 0, 0.75)
		),

	url(https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?cs=srgb&dl=pexels-pixabay-414645.jpg&fm=jpg)	
	;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.card {
	background:
		rgba(250,250, 250, 0.75);
}



#gallery {
	background:
	linear-gradient(

		rgba(77, 31, 0, 0.75),
		rgba(0, 0, 0, 0.75)
		),

	url(https://images.pexels.com/photos/1684081/pexels-photo-1684081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)	
	;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}



.carousel-caption {
	background:
		rgba(0, 0, 0, 0.75)
}


#contact {
	background:
	linear-gradient(

		rgba(77, 31, 0, 0.75),
		rgba(0, 0, 0, 0.75)
		),

	url(https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
		background-attachment: fixed;
}

#gmap {
	width: 100%;
	display: block;
	border: none;
	height: 70vh;
	border-radius: 10px;
}